{% extends 'base/base.html' %}

{% block export_data_proposed %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Export Data</h1>
            <div class="col-md-4">
                <form action="{% url 'observer:export-data-search' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control my-3 " name="search" placeholder="">
                    <input type="checkbox" name="is_approved"> Approved

                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>

            <div class=" d-flex justify-content-end">
                <button class="btn btn-outline-primary"> Print</button>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                <th>Project Name</th>
                <th>Proposed Date</th>
                <th>Expected Start</th>
                <th>Expected End</th>
                <th>Agency</th>
                <th>Expected Cost</th>
                <th>Goal</th>
                <th>Time Span</th>
                </thead>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.project.name }}</td>
                        <td>{{ project.proposed_date }}</td>
                        <td>{{ project.estimation.start }}</td>
                        <td>{{ project.estimation.end }}</td>
                        <td>{{ project.project.executing_agency.name }}</td>
                        <td>{{ project.project.expected_cost }}</td>
                        <td>{{ project.project.goal }}</td>
                        <td>{{ project.project.timespan }}</td>
                    </tr>
                {% endfor %}

                <tbody>

                </tbody>
            </table>


        </div>
    </main>
{% endblock %}