<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Project Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Project Name: </strong>
                    <text-input-area id="pop-up-project-name"></text-input-area>
                </p>

                <p>
                    <strong>Category: </strong>
                    <text-input-area id="pop-up-category"></text-input-area>
                </p>
                <p>
                    <strong>Affiliated Agency: </strong>
                    <text-input-area id="pop-up-affiliated-agency"></text-input-area>
                </p>
                <p>
                    <strong>Description: </strong>
                    <text-input-area id="pop-up-description"></text-input-area>
                </p>
                <p>
                    <strong>Project Start Time: </strong>
                    <text-input-area id="pop-up-start-time"></text-input-area>
                </p>
                <p>
                    <strong>Completion Percentage: </strong>
                    <text-input-area id="pop-up-completion-time"></text-input-area>
                </p>



                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="form-issue" class="form-label">
                            <strong>
                                Issues:
                            </strong>
                        </label>
                        <textarea class="form-control" id="form-issue" rows="3"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary submit-issue">Add Issue</button>
                    </div>
                </form>

                <!-- <p>
                    <strong>Location Coordinates: </strong>
                    <text-input-area id="pop-up-coord">  </text-input-area>
                </p> -->


            </div>
        </div>
    </div>
</div>
